In [3]:
import pandas as pd

In [9]:
df = pd.read_csv("data/intermittent-renewables-production-france.csv")
df.drop(columns=['dayOfYear', 'dayName', 'monthName'], inplace=True)
df.rename([])
df.to_csv('data/intermittent-renewables-production-france_FILTERED.csv')
df.head()

,Date and Hour,Date,StartHour,EndHour,Source,Production
0,2020-07-22 20:00:00+02:00,2020-07-22,20:00:00,21:00:00,Solar,244.0
1,2020-07-23 07:00:00+02:00,2020-07-23,07:00:00,08:00:00,Solar,223.0
2,2020-07-23 16:00:00+02:00,2020-07-23,16:00:00,17:00:00,Solar,2517.0
3,2020-07-23 19:00:00+02:00,2020-07-23,19:00:00,20:00:00,Solar,658.0
4,2020-07-23 23:00:00+02:00,2020-07-23,23:00:00,24:00:00,Solar,0.0

In [14]:
df_wind = df[df['Source'] == 'Wind']
df_wind.head()

,Date and Hour,Date,StartHour,EndHour,Source,Production
45,2020-08-01 02:00:00+02:00,2020-08-01,02:00:00,03:00:00,Wind,2073.0
46,2020-08-01 06:00:00+02:00,2020-08-01,06:00:00,07:00:00,Wind,1742.0
47,2020-08-01 13:00:00+02:00,2020-08-01,13:00:00,14:00:00,Wind,1185.0
48,2020-08-01 14:00:00+02:00,2020-08-01,14:00:00,15:00:00,Wind,1544.0
49,2020-08-01 19:00:00+02:00,2020-08-01,19:00:00,20:00:00,Wind,3919.0

In [18]:
for i, r in df_wind.iterrows():
    pass

In [19]:
r.keys()

Index(['Date and Hour', 'Date', 'StartHour', 'EndHour', 'Source',
       'Production'],
      dtype='object')

In [20]:
type(r)

pandas.core.series.Series

In [21]:
r.to_dict()

{'Date and Hour': '2023-06-30 11:00:00+02:00',
 'Date': '2023-06-30',
 'StartHour': '11:00:00',
 'EndHour': '12:00:00',
 'Source': 'Wind',
 'Production': 2684.0}

In [ ]:
for k in r.keys():